@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    var greeting = "Welcome to the Home Page.";
}
<h1>@ViewData["Title"]</h1>

<h2>@greeting</h2>

<p>This page is under construction as of @ViewData["TimeStamp"].</p>
