@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    var greeting = "Welcome to the Privacy Page.";
}
<h1>@ViewData["Title"]</h1>

<h2>@greeting</h2>

<p>This page is under construction as of @ViewData["TimeStamp"].</p>